@charset 'utf8';

p {
  font-size: 16px;
}
pre {
  font: 14px / 18px Consolas, monospace;
  color: white;
}
q {
  font: italic bold small-caps 1cm / 1.5 Segoe UI, serif;
}
menu {
  font: menu;
}
.foo {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  background: blue;
}
.bar {
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique 10deg;
  border: solid 1px rebeccapurple;
}

/*h3:has(:is([a=b], :where(.c, .d), :is(.e, .f))):active,
.checkbox.active .checkbox__indicator,
.checkbox.active .radio__indicator,
.radio.active .checkbox__indicator,
.radio.active .radio__indicator,
.checkbox input[type="checkbox"]:checked ~ .checkbox__indicator,
.checkbox input[type="checkbox"]:checked ~ .radio__indicator,
.checkbox input[type="radio"]:checked ~ .checkbox__indicator,
.checkbox input[type="radio"]:checked ~ .radio__indicator,
.radio input[type="checkbox"]:checked ~ .checkbox__indicator,
.radio input[type="checkbox"]:checked ~ .radio__indicator,
.radio input[type="radio"]:checked ~ .checkbox__indicator,
.radio input[type="radio"]:checked ~ .radio__indicator,
.radio.active:hover,
.radio.active:has(label.a),
.radio.active:has(label.b),
a:has(.label.a .a),
b:has(.label.b .b),
#a::before,
#b::after
{
  box-shadow: inset 0 0 0 64px #336aea;
}

.checkbox.active .checkbox__indicator .icon,
.checkbox.active .radio__indicator .icon,
.radio.active .checkbox__indicator .icon,
.radio.active .radio__indicator .icon,
.checkbox input[type="checkbox"]:checked ~ .checkbox__indicator .icon,
.checkbox input[type="checkbox"]:checked ~ .radio__indicator .icon,
.checkbox input[type="radio"]:checked ~ .checkbox__indicator .icon,
.checkbox input[type="radio"]:checked ~ .radio__indicator .icon,
.radio input[type="checkbox"]:checked ~ .checkbox__indicator .icon,
.radio input[type="checkbox"]:checked ~ .radio__indicator .icon,
.radio input[type="radio"]:checked ~ .checkbox__indicator .icon,
.radio input[type="radio"]:checked ~ .radio__indicator .icon,
.checkbox.active .checkbox__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="checkbox"],
.filter-sidebar details[data-key="color"] .details-content label .checkbox.active .checkbox__indicator input[type="checkbox"],
.checkbox.active .radio__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="checkbox"],
.filter-sidebar details[data-key="color"] .details-content label .checkbox.active .radio__indicator input[type="checkbox"],
.radio.active .checkbox__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="checkbox"],
.filter-sidebar details[data-key="color"] .details-content label .radio.active .checkbox__indicator input[type="checkbox"],
.radio.active .radio__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="checkbox"],
.filter-sidebar details[data-key="color"] .details-content label .radio.active .radio__indicator input[type="checkbox"],
.checkbox input[type="checkbox"]:checked ~ .checkbox__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="checkbox"],
.filter-sidebar details[data-key="color"] .details-content label .checkbox input[type="checkbox"]:checked ~ .checkbox__indicator input[type="checkbox"],
.checkbox input[type="checkbox"]:checked ~ .radio__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="checkbox"],
.filter-sidebar details[data-key="color"] .details-content label .checkbox input[type="checkbox"]:checked ~ .radio__indicator input[type="checkbox"],
.checkbox input[type="radio"]:checked ~ .checkbox__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="checkbox"],
.filter-sidebar details[data-key="color"] .details-content label .checkbox input[type="radio"]:checked ~ .checkbox__indicator input[type="checkbox"],
.checkbox input[type="radio"]:checked ~ .radio__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="checkbox"],
.filter-sidebar details[data-key="color"] .details-content label .checkbox input[type="radio"]:checked ~ .radio__indicator input[type="checkbox"],
.radio input[type="checkbox"]:checked ~ .checkbox__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="checkbox"],
.filter-sidebar details[data-key="color"] .details-content label .radio input[type="checkbox"]:checked ~ .checkbox__indicator input[type="checkbox"],
.radio input[type="checkbox"]:checked ~ .radio__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="checkbox"],
.filter-sidebar details[data-key="color"] .details-content label .radio input[type="checkbox"]:checked ~ .radio__indicator input[type="checkbox"],
.radio input[type="radio"]:checked ~ .checkbox__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="checkbox"],
.filter-sidebar details[data-key="color"] .details-content label .radio input[type="radio"]:checked ~ .checkbox__indicator input[type="checkbox"],
.radio input[type="radio"]:checked ~ .radio__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="checkbox"],
.filter-sidebar details[data-key="color"] .details-content label .radio input[type="radio"]:checked ~ .radio__indicator input[type="checkbox"],
.checkbox.active .checkbox__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="radio"],
.filter-sidebar details[data-key="color"] .details-content label .checkbox.active .checkbox__indicator input[type="radio"],
.checkbox.active .radio__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="radio"],
.filter-sidebar details[data-key="color"] .details-content label .checkbox.active .radio__indicator input[type="radio"],
.radio.active .checkbox__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="radio"],
.filter-sidebar details[data-key="color"] .details-content label .radio.active .checkbox__indicator input[type="radio"],
.radio.active .radio__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="radio"],
.filter-sidebar details[data-key="color"] .details-content label .radio.active .radio__indicator input[type="radio"],
.checkbox input[type="checkbox"]:checked ~ .checkbox__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="radio"],
.filter-sidebar details[data-key="color"] .details-content label .checkbox input[type="checkbox"]:checked ~ .checkbox__indicator input[type="radio"],
.checkbox input[type="checkbox"]:checked ~ .radio__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="radio"],
.filter-sidebar details[data-key="color"] .details-content label .checkbox input[type="checkbox"]:checked ~ .radio__indicator input[type="radio"],
.checkbox input[type="radio"]:checked ~ .checkbox__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="radio"],
.filter-sidebar details[data-key="color"] .details-content label .checkbox input[type="radio"]:checked ~ .checkbox__indicator input[type="radio"],
.checkbox input[type="radio"]:checked ~ .radio__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="radio"],
.filter-sidebar details[data-key="color"] .details-content label .checkbox input[type="radio"]:checked ~ .radio__indicator input[type="radio"],
.radio input[type="checkbox"]:checked ~ .checkbox__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="radio"],
.filter-sidebar details[data-key="color"] .details-content label .radio input[type="checkbox"]:checked ~ .checkbox__indicator input[type="radio"],
.radio input[type="checkbox"]:checked ~ .radio__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="radio"],
.filter-sidebar details[data-key="color"] .details-content label .radio input[type="checkbox"]:checked ~ .radio__indicator input[type="radio"],
.radio input[type="radio"]:checked ~ .checkbox__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="radio"],
.filter-sidebar details[data-key="color"] .details-content label .radio input[type="radio"]:checked ~ .checkbox__indicator input[type="radio"],
.radio input[type="radio"]:checked ~ .radio__indicator .filter-sidebar details[data-key="color"] .details-content label input[type="radio"],
.filter-sidebar details[data-key="color"] .details-content label .radio input[type="radio"]:checked ~ .radio__indicator input[type="radio"],
.checkbox.active .checkbox__indicator .filter-sidebar details[data-key="orientation"] input:not([data-option="all"]),
.filter-sidebar details[data-key="orientation"] .checkbox.active .checkbox__indicator input:not([data-option="all"]),
.checkbox.active .radio__indicator .filter-sidebar details[data-key="orientation"] input:not([data-option="all"]),
.filter-sidebar details[data-key="orientation"] .checkbox.active .radio__indicator input:not([data-option="all"]),
.radio.active .checkbox__indicator .filter-sidebar details[data-key="orientation"] input:not([data-option="all"]),
.filter-sidebar details[data-key="orientation"] .radio.active .checkbox__indicator input:not([data-option="all"]),
.radio.active .radio__indicator .filter-sidebar details[data-key="orientation"] input:not([data-option="all"]),
.filter-sidebar details[data-key="orientation"] .radio.active .radio__indicator input:not([data-option="all"]),
.checkbox input[type="checkbox"]:checked ~ .checkbox__indicator .filter-sidebar details[data-key="orientation"] input:not([data-option="all"]),
.filter-sidebar details[data-key="orientation"] .checkbox input[type="checkbox"]:checked ~ .checkbox__indicator input:not([data-option="all"]),
.checkbox input[type="checkbox"]:checked ~ .radio__indicator .filter-sidebar details[data-key="orientation"] input:not([data-option="all"]),
.filter-sidebar details[data-key="orientation"] .checkbox input[type="checkbox"]:checked ~ .radio__indicator input:not([data-option="all"]),
.checkbox input[type="radio"]:checked ~ .checkbox__indicator .filter-sidebar details[data-key="orientation"] input:not([data-option="all"]),
.filter-sidebar details[data-key="orientation"] .checkbox input[type="radio"]:checked ~ .checkbox__indicator input:not([data-option="all"]),
.checkbox input[type="radio"]:checked ~ .radio__indicator .filter-sidebar details[data-key="orientation"] input:not([data-option="all"]),
.filter-sidebar details[data-key="orientation"] .checkbox input[type="radio"]:checked ~ .radio__indicator input:not([data-option="all"]),
.radio input[type="checkbox"]:checked ~ .checkbox__indicator .filter-sidebar details[data-key="orientation"] input:not([data-option="all"]),
.filter-sidebar details[data-key="orientation"] .radio input[type="checkbox"]:checked ~ .checkbox__indicator input:not([data-option="all"]),
.radio input[type="checkbox"]:checked ~ .radio__indicator .filter-sidebar details[data-key="orientation"] input:not([data-option="all"]),
.filter-sidebar details[data-key="orientation"] .radio input[type="checkbox"]:checked ~ .radio__indicator input:not([data-option="all"]),
.radio input[type="radio"]:checked ~ .checkbox__indicator .filter-sidebar details[data-key="orientation"] input:not([data-option="all"]),
.filter-sidebar details[data-key="orientation"] .radio input[type="radio"]:checked ~ .checkbox__indicator input:not([data-option="all"]),
.radio input[type="radio"]:checked ~ .radio__indicator .filter-sidebar details[data-key="orientation"] input:not([data-option="all"]),
.filter-sidebar details[data-key="orientation"] .radio input[type="radio"]:checked ~ .radio__indicator input:not([data-option="all"]),
.checkbox.active .checkbox__indicator .collections__actions button[class*="collection-"] [class*="icon"],
.collections__actions button[class*="collection-"] .checkbox.active .checkbox__indicator [class*="icon"],
.checkbox.active .radio__indicator .collections__actions button[class*="collection-"] [class*="icon"],
.collections__actions button[class*="collection-"] .checkbox.active .radio__indicator [class*="icon"],
.radio.active .checkbox__indicator .collections__actions button[class*="collection-"] [class*="icon"],
.collections__actions button[class*="collection-"] .radio.active .checkbox__indicator [class*="icon"],
.radio.active .radio__indicator .collections__actions button[class*="collection-"] [class*="icon"],
.collections__actions button[class*="collection-"] .radio.active .radio__indicator [class*="icon"],
.checkbox input[type="checkbox"]:checked ~ .checkbox__indicator .collections__actions button[class*="collection-"] [class*="icon"],
.collections__actions button[class*="collection-"] .checkbox input[type="checkbox"]:checked ~ .checkbox__indicator [class*="icon"],
.checkbox input[type="checkbox"]:checked ~ .radio__indicator .collections__actions button[class*="collection-"] [class*="icon"],
.collections__actions button[class*="collection-"] .checkbox input[type="checkbox"]:checked ~ .radio__indicator [class*="icon"],
.checkbox input[type="radio"]:checked ~ .checkbox__indicator .collections__actions button[class*="collection-"] [class*="icon"],
.collections__actions button[class*="collection-"] .checkbox input[type="radio"]:checked ~ .checkbox__indicator [class*="icon"],
.checkbox input[type="radio"]:checked ~ .radio__indicator .collections__actions button[class*="collection-"] [class*="icon"],
.collections__actions button[class*="collection-"] .checkbox input[type="radio"]:checked ~ .radio__indicator [class*="icon"],
.radio input[type="checkbox"]:checked ~ .checkbox__indicator .collections__actions button[class*="collection-"] [class*="icon"],
.collections__actions button[class*="collection-"] .radio input[type="checkbox"]:checked ~ .checkbox__indicator [class*="icon"],
.radio input[type="checkbox"]:checked ~ .radio__indicator .collections__actions button[class*="collection-"] [class*="icon"],
.collections__actions button[class*="collection-"] .radio input[type="checkbox"]:checked ~ .radio__indicator [class*="icon"],
.radio input[type="radio"]:checked ~ .checkbox__indicator .collections__actions button[class*="collection-"] [class*="icon"],
.collections__actions button[class*="collection-"] .radio input[type="radio"]:checked ~ .checkbox__indicator [class*="icon"],
.radio input[type="radio"]:checked ~ .radio__indicator .collections__actions button[class*="collection-"] [class*="icon"],
.collections__actions button[class*="collection-"] .radio input[type="radio"]:checked ~ .radio__indicator [class*="icon"],
.checkbox.active .checkbox__indicator .collections__actions button[class~="collection-"] [class*="icon"],
.collections__actions button[class~="collection-"] .checkbox.active .checkbox__indicator [class*="icon"],
.checkbox.active .radio__indicator .collections__actions button[class~="collection-"] [class*="icon"],
.collections__actions button[class~="collection-"] .checkbox.active .radio__indicator [class*="icon"],
.radio.active .checkbox__indicator .collections__actions button[class~="collection-"] [class*="icon"],
.collections__actions button[class~="collection-"] .radio.active .checkbox__indicator [class*="icon"],
.radio.active .radio__indicator .collections__actions button[class~="collection-"] [class*="icon"],
.collections__actions button[class~="collection-"] .radio.active .radio__indicator [class*="icon"],
.checkbox input[type="checkbox"]:checked ~ .checkbox__indicator .collections__actions button[class~="collection-"] [class*="icon"],
.collections__actions button[class~="collection-"] .checkbox input[type="checkbox"]:checked ~ .checkbox__indicator [class*="icon"],
.checkbox input[type="checkbox"]:checked ~ .radio__indicator .collections__actions button[class~="collection-"] [class*="icon"],
.collections__actions button[class~="collection-"] .checkbox input[type="checkbox"]:checked ~ .radio__indicator [class*="icon"],
.checkbox input[type="radio"]:checked ~ .checkbox__indicator .collections__actions button[class~="collection-"] [class*="icon"],
.collections__actions button[class~="collection-"] .checkbox input[type="radio"]:checked ~ .checkbox__indicator [class*="icon"],
.checkbox input[type="radio"]:checked ~ .radio__indicator .collections__actions button[class~="collection-"] [class*="icon"],
.collections__actions button[class~="collection-"] .checkbox input[type="radio"]:checked ~ .radio__indicator [class*="icon"],
.radio input[type="checkbox"]:checked ~ .checkbox__indicator .collections__actions button[class~="collection-"] [class*="icon"],
.collections__actions button[class~="collection-"] .radio input[type="checkbox"]:checked ~ .checkbox__indicator [class*="icon"],
.radio input[type="checkbox"]:checked ~ .radio__indicator .collections__actions button[class~="collection-"] [class*="icon"],
.collections__actions button[class~="collection-"] .radio input[type="checkbox"]:checked ~ .radio__indicator [class*="icon"],
.radio input[type="radio"]:checked ~ .checkbox__indicator .collections__actions button[class~="collection-"] [class*="icon"],
.collections__actions button[class~="collection-"] .radio input[type="radio"]:checked ~ .checkbox__indicator [class*="icon"],
.radio input[type="radio"]:checked ~ .radio__indicator .collections__actions button[class~="collection-"] [class*="icon"],
.collections__actions button[class~="collection-"] .radio input[type="radio"]:checked ~ .radio__indicator [class*="icon"],
.checkbox.active .checkbox__indicator .collection-edit button[class*="collection-"] [class*="icon"],
.collection-edit button[class*="collection-"] .checkbox.active .checkbox__indicator [class*="icon"],
.checkbox.active .radio__indicator .collection-edit button[class*="collection-"] [class*="icon"],
.collection-edit button[class*="collection-"] .checkbox.active .radio__indicator [class*="icon"],
.radio.active .checkbox__indicator .collection-edit button[class*="collection-"] [class*="icon"],
.collection-edit button[class*="collection-"] .radio.active .checkbox__indicator [class*="icon"],
.radio.active .radio__indicator .collection-edit button[class*="collection-"] [class*="icon"],
.collection-edit button[class*="collection-"] .radio.active .radio__indicator [class*="icon"],
.checkbox input[type="checkbox"]:checked ~ .checkbox__indicator .collection-edit button[class*="collection-"] [class*="icon"],
.collection-edit button[class*="collection-"] .checkbox input[type="checkbox"]:checked ~ .checkbox__indicator [class*="icon"],
.checkbox input[type="checkbox"]:checked ~ .radio__indicator .collection-edit button[class*="collection-"] [class*="icon"],
.collection-edit button[class*="collection-"] .checkbox input[type="checkbox"]:checked ~ .radio__indicator [class*="icon"],
.checkbox input[type="radio"]:checked ~ .checkbox__indicator .collection-edit button[class*="collection-"] [class*="icon"],
.collection-edit button[class*="collection-"] .checkbox input[type="radio"]:checked ~ .checkbox__indicator [class*="icon"],
.checkbox input[type="radio"]:checked ~ .radio__indicator .collection-edit button[class*="collection-"] [class*="icon"],
.collection-edit button[class*="collection-"] .checkbox input[type="radio"]:checked ~ .radio__indicator [class*="icon"],
.radio input[type="checkbox"]:checked ~ .checkbox__indicator .collection-edit button[class*="collection-"] [class*="icon"],
.collection-edit button[class*="collection-"] .radio input[type="checkbox"]:checked ~ .checkbox__indicator [class*="icon"],
.radio input[type="checkbox"]:checked ~ .radio__indicator .collection-edit button[class*="collection-"] [class*="icon"],
.collection-edit button[class*="collection-"] .radio input[type="checkbox"]:checked ~ .radio__indicator [class*="icon"],
.radio input[type="radio"]:checked ~ .checkbox__indicator .collection-edit button[class*="collection-"] [class*="icon"],
.collection-edit button[class*="collection-"] .radio input[type="radio"]:checked ~ .checkbox__indicator [class*="icon"],
.radio input[type="radio"]:checked ~ .radio__indicator .collection-edit button[class*="collection-"] [class*="icon"],
.collection-edit button[class*="collection-"] .radio input[type="radio"]:checked ~ .radio__indicator [class*="icon"],
.checkbox.active .checkbox__indicator .collection-edit button[class~="collection-"] [class*="icon"],
.collection-edit button[class~="collection-"] .checkbox.active .checkbox__indicator [class*="icon"],
.checkbox.active .radio__indicator .collection-edit button[class~="collection-"] [class*="icon"],
.collection-edit button[class~="collection-"] .checkbox.active .radio__indicator [class*="icon"],
.radio.active .checkbox__indicator .collection-edit button[class~="collection-"] [class*="icon"],
.collection-edit button[class~="collection-"] .radio.active .checkbox__indicator [class*="icon"],
.radio.active .radio__indicator .collection-edit button[class~="collection-"] [class*="icon"],
.collection-edit button[class~="collection-"] .radio.active .radio__indicator [class*="icon"],
.checkbox input[type="checkbox"]:checked ~ .checkbox__indicator .collection-edit button[class~="collection-"] [class*="icon"],
.collection-edit button[class~="collection-"] .checkbox input[type="checkbox"]:checked ~ .checkbox__indicator [class*="icon"],
.checkbox input[type="checkbox"]:checked ~ .radio__indicator .collection-edit button[class~="collection-"] [class*="icon"],
.collection-edit button[class~="collection-"] .checkbox input[type="checkbox"]:checked ~ .radio__indicator [class*="icon"],
.checkbox input[type="radio"]:checked ~ .checkbox__indicator .collection-edit button[class~="collection-"] [class*="icon"],
.collection-edit button[class~="collection-"] .checkbox input[type="radio"]:checked ~ .checkbox__indicator [class*="icon"],
.checkbox input[type="radio"]:checked ~ .radio__indicator .collection-edit button[class~="collection-"] [class*="icon"],
.collection-edit button[class~="collection-"] .checkbox input[type="radio"]:checked ~ .radio__indicator [class*="icon"],
.radio input[type="checkbox"]:checked ~ .checkbox__indicator .collection-edit button[class~="collection-"] [class*="icon"],
.collection-edit button[class~="collection-"] .radio input[type="checkbox"]:checked ~ .checkbox__indicator [class*="icon"],
.radio input[type="checkbox"]:checked ~ .radio__indicator .collection-edit button[class~="collection-"] [class*="icon"],
.collection-edit button[class~="collection-"] .radio input[type="checkbox"]:checked ~ .radio__indicator [class*="icon"],
.radio input[type="radio"]:checked ~ .checkbox__indicator .collection-edit button[class~="collection-"] [class*="icon"],
.collection-edit button[class~="collection-"] .radio input[type="radio"]:checked ~ .checkbox__indicator [class*="icon"],
.radio input[type="radio"]:checked ~ .radio__indicator .collection-edit button[class~="collection-"] [class*="icon"],
.collection-edit button[class~="collection-"] .radio input[type="radio"]:checked ~ .radio__indicator [class*="icon"],
.checkbox.active .checkbox__indicator .detail-series__navigation button,
.detail-series__navigation .checkbox.active .checkbox__indicator button,
.checkbox.active .radio__indicator .detail-series__navigation button,
.detail-series__navigation .checkbox.active .radio__indicator button,
.radio.active .checkbox__indicator .detail-series__navigation button,
.detail-series__navigation .radio.active .checkbox__indicator button,
.radio.active .radio__indicator .detail-series__navigation button,
.detail-series__navigation .radio.active .radio__indicator button,
.checkbox input[type="checkbox"]:checked ~ .checkbox__indicator .detail-series__navigation button,
.detail-series__navigation .checkbox input[type="checkbox"]:checked ~ .checkbox__indicator button,
.checkbox input[type="checkbox"]:checked ~ .radio__indicator .detail-series__navigation button,
.detail-series__navigation .checkbox input[type="checkbox"]:checked ~ .radio__indicator button,
.checkbox input[type="radio"]:checked ~ .checkbox__indicator .detail-series__navigation button,
.detail-series__navigation .checkbox input[type="radio"]:checked ~ .checkbox__indicator button,
.checkbox input[type="radio"]:checked ~ .radio__indicator .detail-series__navigation button,
.detail-series__navigation .checkbox input[type="radio"]:checked ~ .radio__indicator button,
.radio input[type="checkbox"]:checked ~ .checkbox__indicator .detail-series__navigation button,
.detail-series__navigation .radio input[type="checkbox"]:checked ~ .checkbox__indicator button,
.radio input[type="checkbox"]:checked ~ .radio__indicator .detail-series__navigation button,
.detail-series__navigation .radio input[type="checkbox"]:checked ~ .radio__indicator button,
.radio input[type="radio"]:checked ~ .checkbox__indicator .detail-series__navigation button,
.detail-series__navigation .radio input[type="radio"]:checked ~ .checkbox__indicator button,
.radio input[type="radio"]:checked ~ .radio__indicator .detail-series__navigation button,
.detail-series__navigation .radio input[type="radio"]:checked ~ .radio__indicator button {
  color: red;
}
.checkbox.active .checkbox__link,
.checkbox.active .radio__link,
.radio.active .checkbox__link,
.radio.active .radio__link,
.checkbox input[type="checkbox"]:checked ~ .checkbox__link,
.checkbox input[type="checkbox"]:checked ~ .checkbox__link,
.checkbox input[type="radio"]:checked ~ .checkbox__link,
.checkbox input[type="radio"]:checked ~ .checkbox__link,
.radio input[type="checkbox"]:checked ~ .checkbox__link,
.radio input[type="checkbox"]:checked ~ .checkbox__link,
.radio input[type="radio"]:checked ~ .checkbox__link,
.radio input[type="radio"]:checked ~ .checkbox__link {
  color: yellow;
}
.checkbox .checkbox__indicator ~ .checkbox__link,
.checkbox .checkbox__link ~ .checkbox__indicator,
.radio .radio__indicator ~ .radio__link,
.radio .radio__link ~ .radio__indicator {
  color: green;
}
.checkbox,
.radio {
  color: pink;
}*/